<ul style="list-style-type: none;">
    <h3>●BMI_calculator</h3>
    <li><a href="{% url 'calculator:bmi' %}">bmi（htmlタグのフォームでBMI計算。レコード保存なし）</a></li>
    <li><a href="{% url 'calculator:bmiform' %}">bmiform（Formクラスを使用したフォームでBMI計算。レコード保存なし）</a></li>
    <li><a href="{% url 'calculator:bmirecordform' %}">bmirecordform（ModelFormクラスを使用した登録フォーム）</a></li>
    <li><a href="{% url 'calculator:bmi_record_list' %}">bmi_record_list（ModelFormクラスを使用した登録レコード一覧）</a></li>
    <li><a
            href="{% url 'calculator:bmi_record_list_edit_delete' %}">bmi_record_list_edit_delete（ModelFormクラスを使用した登録レコード一覧・[編集][削除]機能付き）</a>
    </li>

    <hr>
    <h3>●user</h3>
    <li><a href="{% url 'user:test' %}">user testページ</a></li>
    <li><a href="{% url 'user:list' %}">userページ</a></li>

    <hr>
    <h3>●product</h3>
    <li><a href="{% url 'product:test' %}">product testページ</a></li>

    <hr>
    <h3>●comparison</h3>
    <li><a href="{% url 'comparison:index' %}">comparisonページ</a></li>
</ul>