# Virtualenv
venv/
env/
cp_env/

# Python bytecode
__pycache__/
*.py[cod]

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
