<!DOCTYPE html>
<html lang="ja">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録ページ</title>
    <link rel="stylesheet" href="{% static 'comparison/user_mypage_style/register_style.css' %}">
</head>

<body>
    <div class="container">
        <h1>新規登録</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</body>

</html>